.heading{
width: 100%;
font-size: 15px;
padding: 5px;
margin: 0px;
}

body{
background-size: cover;
}

.speed{
float: left;
}

.volume{
float: right;
}

.speed_image{
width: 200px;
border-radius: 100px;
}

.volume_image{
width: 200px;
border-radius: 100px;
}